PROD=true
DOMAIN_USER_ATTR_LOGIN=REMOTE_USER
APP_URL=localhost:39393
# длинна ключа минимум 32 символа!
JWT_SECRET=12345678912345678912345678912345

LDAP_CONNECTION_STRING=ldap://example.com:389
LDAP_BIND_DN=service-account@example.com
LDAP_BIND_PASSWORD="secret"
LDAP_BASE_DN="OU=users,DC=example,DC=com"